@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Asset_Management.ViewModel.AssetListResponse>
@{
    ViewBag.Title = "Asset";
    ViewBag.namePage = "Daftar Asset";
    ViewBag.Level1 = "Asset";
    ViewBag.Level2 = "AssetList";

    // admin
    Layout = "adminLayout";
}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <button asp-action="Add" id="btn-add" type="button" class="btn btn-default">
                        Tambah
                        </button>
                        <table id="example1" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Asset ID</th>
                                    <th>Asset Name</th>
                                    <th>Serial Number</th>
                                    <th>Specification</th>
                                    <th>Purchase Year</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Number</td>
                                        <td>@item.AssetId</td>
                                        <td>@item.AssetName</td>
                                        <td>@item.SerialNumber</td>
                                        <td>@item.Specification</td>
                                        <td>@item.PurchaseYear</td>
                                        <th>@item.Status</th>
                                        <td>
                                            <a asp-action="History" asp-route-id="@item.Id" class="btn btn-success btn-xs" data-original-title="History Data" data-placement="top">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-xs" data-original-title="Edit Data" data-placement="top">
                                                <i class="fa fa-pen"></i>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs" data-original-title="Hapus Data" data-placement="top">
                                                <i class="fa fa-trash-alt"></i>
                                            </a>

                                            @*                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                                        <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@*pop up add*@
<div id="add-modal" class="modal modal-fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Asset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $("#btn-add").on("click", function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Asset/AddModal",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#add-modal").find(".modal-body").html(data);
                    $("#add-modal").modal("show");
                }
            });

        });
    </script>
}


