@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Asset_Management.ViewModel.RequestListResponse>
@{
    ViewBag.Title = "Request Asset";
    ViewBag.namePage = "Daftar Request Asset";
    ViewBag.Level1 = "Request";
    ViewBag.Level2 = "RequestAsset";

    // Admin chose asset
    Layout = "adminLayout";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <table id="example" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>PIC Name</th>
                                    <th>PIC Address</th>
                                    <th>Specification</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.PicName</td>
                                        <td>@item.PicAddress</td>
                                        <td>@item.Specification</td>
                                        <td>@item.RequestDate</td>
                                        <td>@item.Status</td>
                                        <td align="center">
                                            <a asp-action="ChooseAsset" asp-route-id="@item.Id" class="btn btn-primary btn-xs" data-original-title="Detail Data" data-placement="top">
                                                <i class="fas fa-laptop"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

